.navbar {
	border-radius: 0;
	border: none;
	background-color: white;
	.navbar-brand {
	    padding: 7px 0 2px;
	    img {
	    	height: 40px;
	    }
	}
	&.navbar-transparent {
		background-color: transparent;
		li > a{
			color: white
		}
		.dropdown-menu a{
			color: #2d2d2d;
		}
	}
}
.login-page, .index-page {
	background-color: #99A1F4;
}
.login-ct {
	.big-logo {
		display: block;
		margin: 150px auto 50px;
		width: 135px;
	}
	.submit {
		margin-top: 30px;
	}
	.forget {
		text-align: center;
		color: blue;
		text-decoration: none;
		display: block;
		margin-top: 30px;
		font-size: 12px;
	}
	.intro-title {
		margin: 150px auto 50px;
		text-align: center;
		color: white;
	}
}
.index-page {
	.index-ct {
		.big-logo {
			display: block;
			margin: 150px auto 50px;
			width: 135px;
		}
		.desktop-img {
			display: block;
			margin: 50px auto 0;
			width: 730px;
		}
	}
}

.index-page-detail {
	background-color: #F0F0F0;
	.index-ct {
		.tabs {
		    list-style: none;
		    text-align: center;
		    margin: auto;
		    width: 637px;
		    padding: 0;
		    border-bottom: solid 1px #3f51b5;
			li {
				list-style: none;
				display: inline-block;
			    font-size: 25px;
    			margin-bottom: -1px;
    			&.active {
				    border: solid 1px #3f51b5;
    			}
				a {
					color: #3f51b5;
				    text-decoration: none;
    				padding: 8px 25px;
					display: block;
				}
			}
		}
		.filter {
			list-style: none;
			margin-top: 50px;
			margin-bottom: 20px;
			overflow: auto;
			padding: 0;
			li {
				list-style: none;
				font-size: 14px;
				float: left;
				padding: 0 10px;
				line-height: 22px;
				&.active {
					font-weight: bold;
					font-size: 18px;
				}
				a {
					color: #3f51b5;
					text-decoration: none;
				}
			}
		}
		.card {
			margin-bottom: 20px;

			.title {
			    height: 80px;
			    line-height: 28px;
			    text-align: center;
			    width: 5000px;
			    color: #fff;
			    background-color: #6A76BB;
			    font-size: 16px;
			    font-weight: 700;
			    display: table-cell;
			    padding: 0 20px;
			    vertical-align: middle;			
			}
			.footer {
				height: 50px;
				line-height: 50px;
				text-align: center;
				background-color: white;
				a {
					padding: 15px 40px;
				}
			}
		}
	}
}
.breadcrumb {
    padding: 0;
    background: none;
    margin-top: 25px;
    a, li {
    	color: #2d2d2d;
    }
}
.book-page {
	background-color: #f0f0f0;
}
.book-ct {
	
	h1 {
		font-size: 28px;
		margin: 25px 0;
	}
	.book-row {
		padding: 15px 0;
		border-bottom: solid 1px #dcdcdc;
		&:last-child {
			margin-bottom: 0px;
			border-bottom: none;				
		}
	}
	.net-row {
		h4 {
		    text-align: center;
		    margin: 20px;
		}
		p {
			margin: 0;
		}
		padding: 15px 0;
		border-bottom: solid 1px #dcdcdc;
		&:last-child {
			margin-bottom: 0px;
			border-bottom: none;				
		}
	}
	.media-body {
		ul {
			list-style: none;
			padding: 0;
			li {
				list-style: none;
				padding: 15px 0 0;
			}
		}
	}
	.contact {
		@media (min-width: 768px) {
			border-left: solid 1px #DCDCDC;
		}
		padding: 1px;
		.checkout {
	    	display: block;
			margin: 58px auto;
		}
		.details {
			display: none;
			ul {
				list-style: none;
				padding: 0;
				li {
					list-style: none;
					padding: 10px 0px 0px 10px;
				}
			}
		}

	}
}
.post-page {
	.post-ct {
		.input-group {
		    margin: 20px 0;
		}
		.qr-ct {
			.qrcode {
				display: block;
				margin: 30px auto;
			}
			text-align: center;
		}
	}
}
.manage-page {
	.net-books {
		display: none;
	}
	.selector {
		margin-bottom: 20px;
	}
	.delete {
		padding: 13px 0;
    	text-align: center;
	}
}